/* || GILT FÜR ALLE BUTTONS */

.button a {
  color:white;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30vw;
  text-decoration: none;
}

/* ACTIVE */
.button a:active {
  position: relative;
  top: 1px;
  text-decoration: none;
  background-color: #3a3734;
  color: white;
}

/* HOVER */
.shopbutton:hover,
.backButton:hover,
.productButton:hover {
  background-color: #3a3734;
}

/* || GILT NICHT FÜR ALLE BUTTONS GLEICH */

.shopbutton,
.backButton,
.productButton,
.shoppingCartButton {
  background-color: #191919;
  border-radius: 5px;
  border: 2px solid;
  border-color: #191919;
  margin: 5% auto 0 auto;
}

.header__content .shopbutton {
  margin-top:0;
}

.shopbutton,
.backButton {
  padding: 3%;
}

.backButton {
  margin: 5vh auto 3vh auto;
}



/* || MEHR-BUTTON */
.mehrButton {
  flex-direction: column;
  padding: 7% 20%;
  text-shadow: 0px 0px 0px #2f6627;
}

/* || PRODUKT-BUTTON */
.productButton {
  border-color: white;
  line-height: 10%;
  padding: 7% 10%;
}

/* || WARENKORB-BUTTON */
.shoppingCartButton {
  width: 40vw;
  padding: 5% 20%;
}


/* || Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .shopbutton a {
    font-size: 1.5rem;
  }

  .shopbutton {
    width: 20vw;
  }
}

/* || Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .shopbutton {
    margin-top: 2rem;
  }
  .productButton {
    margin: 2rem auto 3rem auto;
    padding: 3%;
  }

  .productButton a {
    font-size: 1.5rem;
  }

  .shopbutton {
    width: 30%;
    margin: 10% auto 0 auto;
  }

  .shopbutton a {
    font-size: 1.5rem;
  }

  .shopbutton {
    margin-top: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .productButton {
    margin:auto;
  }

  .backButton {
    margin-bottom: 100px;
  }
}

/* || Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .mehrButton {
    margin-top: 0;
    padding: 5%;
  }

  .button a {
    font-size: 2.5rem;
  }

  .productButton {
    margin: 2rem auto 3rem auto;
    padding: 3%;
  }

}
