.footer {
    background-color: black;
    padding:5%;
}

.footer div {
    padding: 0;
}


.footer * {
    color: white;
}


.footer h5 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer h4 {
    margin-top: 0;
}


.footer p {
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 1%;
}


.mainFooterTop {
    margin-bottom: 5%;
}

.mainFooterInfos div {
    margin-bottom: 15%;
}

.mainFooterInfos {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .footer {
        margin-top: 20vw;
    }
}

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .footer {
        margin-top: 30vw;
    }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .footer {
        margin-top: 25vw;
    }

    .footer img {
        width: 3.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .footer img {
        width: 4.5rem;
    }

    .footer h5 {
        font-size: 4rem;
    }

    .footer h4 {
        font-size: 3rem
    }

    .footer {
        margin-top: 300px;
        margin-bottom: 0;
    }

    .footer p {
        font-size: 2.5rem;
    }

    .mainFooterInfos {
        height: 300px;
    }
}