.header {
  background-attachment: scroll;
  background-color: black;
  background-image: url("../../images/kaffeetassen_roesterei_rustica_mobil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vw;
  color: white;
  padding: 5%;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header__content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 0;
}

.header h4 {
  font-size: 1.2rem;
  margin-top: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .header h1 {
    font-size: 5em;
    margin-top: 0;
  }

  .burgerMenu {
    width: 2rem;
  }

  .header__content {
    padding-top: 5vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .header h1 {
    font-size: 6rem;
  }

  .header h4 {
    font-size: 1.5rem;
  }

  .header {
    height: 65vw;
  }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .header {
    background-image: url("../../images/kaffeetassen_roesterei_rustica_desktop.png");
    height: 65vw;
  }

  .header__content {
    padding-top: 100px;
  }

  .header h1 {
    font-size: 5.5rem;
  }

  .header h4 {
    font-size: 2.5rem;
    margin-bottom: 5vw;
  }

  .navKategorien a:active {
    background-color: #D7BE9D;
    position: relative;
    top: 1px;
  }

  .shopbutton {
    margin-top: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

.header {
  padding: 3%;
}
  .header__content h1 {
    font-size: 7rem;
  }

  .navKategorien a {
    font-size: 2rem;
  }

}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {

  .navKategorien a {
    font-size: 2.5rem;
  }

  .header {
    height: 65vw;
  }

  .warenkorbIcon {
    width: 3rem;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .header h1 {
    font-size: 9rem;
  }

  .header h4 {
    font-size: 4rem;
  }
}