.heading--schwarz {
  padding-left: 5%;
  margin-bottom: 5%;
}

.starteseite__kaffeesorten-slideshow {
  display: flex;
  background-color: black;
  position: relative;
  padding-top: 0;
  margin-bottom: 5%;
  overflow:hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  opacity:0;
  transition: opacity 0.7s;
}

.active {
  /* aktives Element soll nicht transparent sein, Klassenzuweisung wird mit JS gemacht */
  opacity: 1;
}

.slide2Active {
  transform: translate(-100vw);
}

.slide3Active {
  transform: translate(-200vw);
}

.slide4Active {
  transform: translate(-300vw);

}

.slide-bild {
  padding-top: 7%;
  width: 100vw;
}

.slide-textbereich {
  /* position: absolute; */
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.slide-textbereich p {
  margin-top: 0;
  padding: 0 3%;
  color: white;
}

.slide-textbereich h3 {
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 1%;
  color: white;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  font-size: 4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 15%;
  /* color:rgba(255, 255, 255, 0.7); */
  color: #327e8c;
  user-select: none;
  cursor: pointer;
}

.arrow:hover {
  color: grey;
}

.arrow-prev {
  left: 0;
}

.arrow-next {
  right: 0;
}

.slideshow-dots {
  position: absolute;
  top: -2%;
  left: 0;
  right: 0;
  list-style: none;
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.slideshow-dot {
  padding: 0 7px;
  color: #327e8c;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

 .active {
  /* aktives Element soll nicht transparent sein, Klassenzuweisung wird mit JS gemacht */
  opacity: 1;
}

.starteseite__kaffeesorten--mobileOnly {
  padding-bottom: 5%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .starteseite__kaffeesorten--mobileOnly {
    display: none;
  }
  .slideshow__heading {
    display: none;
  }
}
