.herkunft__header {
    background-image: url("../../images/kaffeebohnenGeerntet.png");
    margin-bottom: 5%;
  }

  .img--anbaugebiete {
    display: flex;
    justify-content: right;
  }

  .herkunftSubpage p {
    color: black;
    margin: 2% 5%;
  }

  .herkunftSubpage img {
    display: flex;
    margin: 5%;
  }

  .herkunft__video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  video {
    max-width: 90vw;
  }
  
  .roesterei__infotext__visit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
  }
  
  .heading--schwarz {
    margin-top: 0;
  }
  
 


