.herkunftSubpage {
  background-color: white;
  padding-bottom: 5%;
}

.herkunft__header {
    background-image: url("../../images/kaffeebohnenGeerntet.png");
  }

  .herkunftSubpage h2 {
    padding: 5% 5% 0 5%;
  }

  .img--anbaugebiete {
    width: 100vw;
    display: flex;
    justify-content:flex-end;
  }

  .herkunftSubpage p {
    margin: 2% 5%;
  }

  .herkunftSubpage img {
    display: flex;
    margin: 5%;
    width: 60vw;
  }

  .herkunft__video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  video {
    max-width: 90vw;
  }

  
  .heading--schwarz {
    margin-top: 0;
  }

  /* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .img--plantagenBeschaeftigte img {
    padding-bottom: 2vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

  .herkunftSubpage h2 {
    margin: 0;
    font-size: 7rem;
    padding-top: 2%;
  }

  .herkunftSubpage p {
  font-size: 3rem;
  }

  .ursprung__infotext, .herkunftSubpage h2 {
    text-align: left;
  }

  .herkunftSubpage video {
    width: 60vw;
  }

  .herkunft__anbaugebiete {
  display: flex;
  margin:5%;
  }

  .herkunft__anbaugebiete p {
    text-align: left;

    margin:0;
    padding:0;
  }

  .herkunft__anbaugebiete h2 {
    margin:0;
    padding:0;
  }
  

 .img--anbaugebiete {
  width: 45vw;
 }

 .herkunft__menschenwohl { 
  display: flex;
  flex-direction: row-reverse;
  margin:5%;
 }

 .herkunft__menschenwohl h2, p {
   text-align: right;
 }

 .herkunft__menschenwohl img {
   width: 35vw;
   margin:0;
 }
}








  


  
 


