.shopSubpage {
  background-color: white;
}

.shop__header {
  height: 50px;
  padding: 0 0 5% 0;
  background: white;
}

.shopSubpage h2 {
  font-size: 2em;
  padding-top: 5%;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 0 1% 5vh 1%;
  width: 45vw;
}

.productImageWrapper {
  display: flex;
  justify-content: center;
}

.img--kaffeepackung--greyBg {
  width: 40vw;
  cursor: pointer;
  background: #E9E9E9;
}

.product p {
  margin: 2% 0;
  padding:0;
}

.coffeePrice {
  color: #737373;
}

.productIcons * {
  margin: 2% 5% 0 0;
  height: 100%;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .shopSubpage h2 {
    font-size: 3em;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .shopSubpage h2 {
    font-size: 3.2em;
  }
  .img--kaffeepackung--greyBg {
    width: 28vw;
  }

  .product {
    width: 30vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .shopSubpage body {
    background: white;
  }

  .shopSubpage h2 {
    padding-top: 0;
  }

  .img--kaffeepackung--greyBg {
    width: 20vw;
    background: #e9e9e9;
  }

  .product {
    width: 20vw;
  }

  .product p {
    text-align: left;
  }

  .shopSubpage .kommVorbei {
    padding-top: 0;
  }

  .products p {
    padding-left: 0;
  }

  .shopSubpage footer {
    padding-top: 5vh;
  }
}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .shopSubpage h2 {
    font-size: 4em;
  }
  .img--kaffeepackung--greyBg {
    width: 20vw;
  }

  .product {
    width: 20vw;
  }
}
