<footer class="footer">
<div class="FooterTop">
    <img class="logo" src="../images/logoKaffeeroestereiRustica.svg" href="#" alt="Logo Kaffeerösterei Rustica Kiel">
    <h5> Rustica </h5>
    <h4> Café & Rösterei </h4>
</div>

<div class="FooterInfos">
<div class="FooterLeft">
<div class="FooterBesuch">
    <p>Komm uns besuchen! </p>
    <p> Fraunhoferstr. 13, Kiel </p>
</div>
<div class="FooterImpressum">
      <a href="/subpages/impressum.html">Impressum</a>
      <a href="/subpages/impressum.html">Datenschutz</a>
</div>
</div>


<div class="FooterRight">
<div class="FooterOeffnungszeiten">
    <p>Mo - Fr 8-18 Uhr</p>
    <p>Sa 11-18 Uhr</p>
</div>
<div class="FooterDropdown">
     <a href="../subpages/cafe.html"> Café</a>
    <p>Shop</p>
     <a href="../subpages/herkunft.html"> Herkunft</a>
</div>
</div>
</div>
</footer>
