<div class="mainFooterTop">
    <img class="logo" src="../images/logoKaffeeroestereiRustica.svg" href="#" alt="Logo Kaffeerösterei Rustica Kiel">
    <h5> Rustica </h5>
    <h4> Café & Rösterei </h4>
</div>

<div class="mainFooterInfos">
<div class="mainFooterLeft">
<div class="mainFooterBesuch">
    <p>Komm uns besuchen! </p>
    <p> Fraunhoferstr. 13, Kiel </p>
</div>
<div class="mainFooterImpressum">
    <p>Impressum</p>
    <p>Datenschutz</p>
</div>
</div>


<div class="mainFooterRight">
<div class="mainFooterOeffnungszeiten">
    <p>Mo - Fr 8-18 Uhr</p>
    <p>Sa 11-18 Uhr</p>
</div>
<div class="mainFooterDropdown">
    <p>Café</p>
    <p>Shop</p>
     <p>Herkunft</p>
</div>
</div>
</div>
