
        <div class="icons">
            <img class="icon" src="../images/iconKaffeebohnen.svg" alt="weißes Icon mit drei Kaffeebohnen">
            <img class="icon" src="../images/iconFrenchPress.svg" alt="weißes Icon einer Frenchpress">
            <img class="icon" src="../images/iconKaffeeschaufel.svg"
                alt="weißes Icon einer Kaffeeschaufel mit Kaffeebohnen">
        </div>
   