<nav>
  <img class="logo" src="../images/logoKaffeeroestereiRustica.svg" href="#" alt="Logo Kaffeerösterei Rustica Kiel">
  <img class="burgerMenu" src="../images/menuKaffeeroestereiRustica.svg" href="#" alt="Men+ Rustica Kiel">
  <div class="navKategorien">
    <a href="#">das Café</a>
    <a href="#">Herkunft</a>
    <a href="#">Shop</a>
    <a href="#"><img class="warenkorbIcon" src="../images/warenkorbIcon.svg" alt="Warenkorb Icon"></a>
</div>


</nav>