<nav>
  <img
    class="logo"
    src="../images/logoKaffeeroestereiRustica.svg"
    href="#"
    alt="Logo Kaffeerösterei Rustica Kiel"
  />
  <button 
    class="burgerMenu">
  </button>
  <div class="navKategorien">
    <a href="../subpages/cafe.html">das Café</a>
    <a href="../subpages/herkunft.html">Herkunft</a>
    <a href="#">Shop</a>
    <a href="#"><img
        class="warenkorbIcon"
        src="../images/warenkorbIcon.svg"
        alt="Warenkorb Icon"
      /></a>
  </div>
</nav>

<div class="toggleMenu">
  <div class='closeButton'> <span>x</span> </div>
  <ul class="navKategorien--sidebar">
    <li> <a href="../subpages/cafe.html"> das Café </a> </li>
    <li> <a href="../subpages/herkunft.html"> Herkunft </a> </li>
    <li> <a href="#"> Shop </a> </li>
  </ul>
  </div>