<div class="shopkachel">
        <img class="img--kaffeepackung" src="../../images/kaffeepackungCostaRicaGross.png" alt="Café Rustica Kiel von innen">
        <p class="costaRica">Costa Rica</p>
        <p class="kaffeepreis"> 6,90€ - 26,90€ </p>
        <div class="icons">
            <img class="icon" src="../images/iconKaffeebohnen.svg" alt="weißes Icon mit drei Kaffeebohnen">
            <img class="icon" src="../images/iconFrenchPress.svg" alt="weißes Icon einer Frenchpress">
            <img class="icon" src="../images/iconKaffeeschaufel.svg"
                alt="weißes Icon einer Kaffeeschaufel mit Kaffeebohnen">
        </div>
    </div>