 /* NAVIGATION BAR  */
 .header {
  background-attachment: scroll;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vw;
  color: white;
  padding: 5%;
}

 nav {
  display: inline-flex;
  justify-content: space-between;
  background-color: transparent;
  width: 90vw;
}


.navKategorien {
  display: none;
}

* {
  box-sizing: border-box;
  background-color: transparent;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  padding:;
  margin:0;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

  /* LINKS */

  /* alle Links werden beim mit-Tab-Fokussieren hervorgehoben */
  a:focus {
    background-color: #FFFFFF;
    color: #3A3734;
    outline: none;
  }

  a {
    color: white;
    font-weight: lighter;
    outline: none;
    text-decoration: none;
  }

  a:hover {
    font-weight: bolder;
  }

  a:visited {
      text-decoration: none;
      background-color: transparent;
    }

  /* SCHRIFT */

  h1 {
    font-size: 96px;
    font-weight: 900;
    color: white;
  }

  h2 {
    font-size: 2.4em;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2em;
  }


  h4 {
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
  }

  h5 {
    font-size: 2rem;
  }

  p {
    font-weight: normal;
    color: black;
  }

  


  /* MEDIA QUERIES */

  /* Small devices (landscape phones, 576px and up) */
  @media screen and (min-width: 576px) {

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    p,
    a,  
    h4,
li {
      font-size: 1.2rem;
    }

    .logo {
      width: 40px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    p,
    li {
      font-size: 1.5rem;
    }


    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 3em;
    }

    h4,
    a {
      font-size: 2rem;
    }

    h5 {
      font-size: 3rem;
    }

    .logo {
      width: 50px;
      margin:0;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {

    .burgerMenu {
      display: none;
    }

    .navKategorien {
      display: inline-flex;
      width: 40vw;
      justify-content: space-between;
    }

    .navKategorien a {
      font-size: 1.5rem;
    }

    .warenkorbIcon {
      width: 30px;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .logo {
    width: 4rem;
  }

  nav {
    width: 95vw;
  }
  }

  /* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) { 
  .logo {
    width: 5rem;
  }

  h2 {
    font-size: 4.5rem;
  }
}
