/* NAVIGATION BAR  */
.header {
  background-attachment: scroll;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vw;
  color: white;
  padding: 5%;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100vw;
  margin: auto;
  padding: 3%;
  position: fixed;
  height: 5vh;

  &.scrollingActive {
    background-color: white;
    z-index: 1;
  }
}

.navKategorien {
  display: none;
}

.burgerMenu {
  background-color: transparent;
  background-image: url("../images/menuKaffeeroestereiRustica.svg");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  margin-right: 5vw;
  padding-right: 10%;

  &.scrollingActive {
    background-image: url("../images/menuKaffeeroestereiRusticaBlack.svg");
  }
}

.logo--white {
  width: 50px;
  padding-left: 2%;

  &.scrollingActive {
    display: none;
  }
}

.logo--black {
  width: 50px;
  opacity: 0;
  &.scrollingActive {
    opacity: 1;
  }
}

.toggleMenu {
  position: fixed;
  top: 0;
  left: 100vw;
  transition: left 1s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: fixed;
  text-align: center;
  justify-content: center;
  background-color: black;
  height: 100vh;

  &.show {
    left: 0;
  }
}

.navKategorien__sidebar {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0;
}

.navKategorien__sidebar a {
  color: white;
}

.toggleMenu li {
  font-size: 1.5rem;
  margin: 1% 0;
  list-style: none;
}

.toggleMenu.show li a {
  cursor: pointer;
}

.closeButton {
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
  padding-right: 5%;
}
.closeButton:hover {
  font-weight: bolder;
}

* {
  box-sizing: border-box;
  background-color: transparent;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0;
  width: 100vw;
  height: 100%;
}

body.scrollStop {
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* LINKS */

/* alle Links werden beim mit-Tab-Fokussieren hervorgehoben */
a:focus {
  background-color: #ffffff;
  color: #3a3734;
  outline: none;
}

a {
  font-weight: lighter;
  outline: none;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
  background-color: transparent;
}

/* SCHRIFT */

h1 {
  font-size: 96px;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 2.4em;
  margin-bottom: 0;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
}

h5 {
  font-size: 2rem;
}

p {
  font-weight: normal;
  color: black;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p,
  a,
  h4,
  li {
    font-size: 1.2rem;
  }

  .logo--white {
    width: 40px;
  }

  .toggleMenu.show a {
    font-size: 2rem;
  }

  .closeButton span {
    color: white;
  }

  .mainNav {
    padding: 3%;
  }

  .burgerMenu {
    background-size: 2.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  p,
  li {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3em;
  }

  h4,
  a {
    font-size: 2rem;
  }

  h5 {
    font-size: 3rem;
  }

  .logo--white {
    width: 50px;
    margin: 0;
  }

  .toggleMenu.show a {
    font-size: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .burgerMenu {
    display: none;
  }

  .navKategorien {
    display: inline-flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
  }

  .navKategorienLink {
    font-size: 1.8rem;
    color: white;

    &.scrollingActive {
      color: black;
    }
  }

  .mainNav {
    padding-top: 2%;
  }

  .warenkorbIcon {
    width: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .mainNav {
    width: 100vw;
    padding: 0;
    left: 0;
  }

  .navKategorien {
    padding-right: 4vw;
    width: 50vw;
  }
}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .logo {
    width: 5rem;
  }

  h2 {
    font-size: 4.5rem;
  }
}
