/* || HEADER */
.startseite__header {
  background-image: url("../../images/kaffeetassen_roesterei_rustica_mobil.png");
}

.header__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header__content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burgerMenu {
  width: 2rem;
  user-select: none;
  cursor: pointer;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 0;
}

.header h4 {
  font-size: 1.2rem;
  margin-top: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .header h1 {
    font-size: 5em;
    margin-top: 0;
  }

  .header__content {
    padding-top: 5vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header h1 {
    font-size: 6rem;
  }

  .header h4 {
    font-size: 1.5rem;
  }

  .header {
    height: 65vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .header {
    background-image: url("../../images/kaffeetassen_roesterei_rustica_desktop.png");
    height: 65vw;
  }

  .header__content {
    padding-top: 100px;
  }

  .header h1 {
    font-size: 5.5rem;
  }

  .header h4 {
    font-size: 2.5rem;
    margin-bottom: 5vw;
  }

  .navKategorien a:active {
    background-color: #d7be9d;
    position: relative;
    top: 1px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .header {
    padding: 3%;
  }
  .header__content h1 {
    font-size: 7rem;
  }

  .navKategorien a {
    font-size: 2rem;
  }
}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .navKategorien a {
    font-size: 2.5rem;
  }

  .header {
    height: 65vw;
  }

  .warenkorbIcon {
    width: 3rem;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .header h1 {
    font-size: 9rem;
  }

  .header h4 {
    font-size: 4rem;
  }
}

/* || RÖSTEREI & CAFÉ */

.startseite__roesterei {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 5%;
}

.startseite__roesterei h2 {
  color: black;
  padding: 0;
}

.startseite__roesterei p {
  color: black;
}

.infotext__visit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}

.img--innenraum {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.heading--schwarz {
  margin-top: 0;
}

.img--kaffeepflanze {
  display: flex;
  justify-content: left;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .infotext__visit {
    width: 80vw;
  }

  .startseite__roesterei img {
    width: 55vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .startseite__roesterei h2 {
    font-size: 3.5rem;
  }

  .startseite__roesterei__cafe {
    justify-content: space-between;
  }

  .infotext__visit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 43vw;
  }

  .startseite__roesterei img {
    width: 40vw;
  }

  .startseite__roesterei p {
    font-size: 1.3rem;
  }

  .startseite__roesterei__cafe__text {
    width: 50%;
  }

  .bioFair__text {
    width: 50vw;
    margin-left: 5%;
  }

  .startseite__roesterei__cafe {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .roesterei__bioFair {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .startseite__roesterei img {
    width: 40vw;
  }

  .startseite__roesterei p {
    font-size: 1.6rem;
  }
}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .roesterei__infotext--left {
    text-align: left;
  }

  .startseite__roesterei p {
    font-size: 2.8rem;
  }

  .img--innenraum {
    margin-bottom: 2%;
  }
}

/* || KAFFEESORTEN ENTDECKEN */

.startseite__kaffeesorten {
  display: none;
}

.heading--weiss {
  color: white;
  padding: 5% 5% 0 5%;
  background-color: black;
}

.starteseite__kaffeesorten--mobileOnly {
  background-color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .starteseite__kaffeesorten--mobileOnly {
    display: none;
  }

  .startseite__kaffeesorten {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .startseite__kaffeesorten h2 {
    color: white;
    margin: 0 0 5% 0;
  }

  .kaffeesorten_shopvorschau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: auto;
  }

  .shopkachel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 5%;
    padding: 0;
    width: 50%;
  }

  /* Hintergrundbild */
  body {
    background-color: black;
  }

  .img--kaffeepackung {
    background-color: white;
    margin-bottom: 0.3rem;
  }

  /* BILDER + BILDUNTERSCHRIFTEN */

  .kaffeepreis {
    color: #737373;
    margin: 0;
  }

  .costaRica {
    color: white;
    margin: 0;
  }

  /* ICONS */

  .icon {
    width: 10%;
  }

  .icons {
    padding: 2% 0;
  }

  .img--kaffeepackung {
    width: 200px;
  }

  .kaffeesorten_shopvorschau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 500px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  .starteseite__kaffeesorten--mobileOnly {
    display: none;
  }
  .img--kaffeepackung {
    width: 300px;
  }

  .kaffeesorten_shopvorschau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 700px;
  }

  .kaffeepreis {
    font-size: 1.8rem;
  }

  .costaRica {
    font-size: 1.8rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .starteseite__kaffeesorten-slideshow {
    display: none;
  }
  .img--kaffeepackung {
    width: 200px;
  }

  .startseite__kaffeesorten h2 {
    padding: 0;
  }

  .kaffeesorten_shopvorschau {
    margin: 0;
    flex-wrap: nowrap;
    width: 100vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .img--kaffeepackung {
    width: 300px;
  }

  .shopkachel p {
    text-align: left;
  }
}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .starteseite__kaffeesorten-slideshow {
    display: none;
  }

  .img--kaffeepackung {
    width: 22vw;
    margin-bottom: 1rem;
  }

  .shopkachel p {
    font-size: 2.2rem;
  }

  .icons * {
    margin-right: 1rem;
  }
}

/* || HERKUNFT */
.herkunft {
  background-attachment: scroll;
  background-color: black;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../images/kaffeesaecke.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 332px;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.herkunft * {
  margin-top: 0;
}

.herkunft h3 {
  color: white;
}

.herkunft p {
  color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .herkunft {
    height: 430px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .herkunft {
    height: 550px;
  }
  .herkunft p {
    margin: 0 5%;
    font-size: 1.9rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
.herkunft p {
  text-align: center;
}
}

/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .herkunft h3 {
    font-size: 4rem;
    margin: 5% auto 2% auto;
  }

  .herkunft {
    height: 650px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../images/kaffeesaecke.png");
  }
  .herkunft p {
    margin: 0 5%;
    font-size: 3rem;
  }
}

/* || DAS STECKT DRIN */
.dasStecktDrin {
  padding: 5% 0;
}

.dasStecktDrin h2 {
  text-align: center;
  margin: 0 auto 5% auto;
}

.dasStecktDrinInhalt {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.dasStecktDrin p {
  text-align: center;
}

.dasStecktDrin {
  background-color: white;
}

.iconsEigenschaften {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  height: 100px;
}

.iconGross {
  width: 2.5rem;
}

.iconMitUntertitel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  width: 85px;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .costaRicaKaffee img {
    width: 60vw;
  }

  .dasStecktDrinInhalt {
    display: flex;
    flex-direction: column;
  }

  .iconGross {
    width: 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .dasStecktDrin h2 {
    margin-top: 0;
  }

  .dasStecktDrinInhalt {
    margin-bottom: 15%;
  }

  .dasStecktDrin img {
    margin-bottom: 2rem;
  }

  .iconGross {
    width: 5rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  .dasStecktDrin h2 {
    font-size: 4.5rem;
  }

  .iconMitUntertitel {
    flex-direction: row;
    display: inline-flex;
    width: 300px;
  }

  .dasStecktDrinInhalt {
    margin: 3rem auto;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .iconsEigenschaften {
    flex-direction: column;
    height: 500px;
  }

  .costaRicaKaffee img {
    width: 500px;
    margin: 0;
  }

  .dasStecktDrin p {
    text-align: left;
    margin-left: 3rem;
    font-size: 2rem;
  }

  .dasStecktDrin a {
    margin-top: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
.dasStecktDrinInhalt .button {
  margin:0;
}

.dasStecktDrin {
  padding-bottom:10%;
}
}


/* Very large desktop devices (1920px and up) */
@media screen and (min-width: 1920px) {
  .iconMitUntertitel {
    width: 600px;
  }

  .dasStecktDrin h2 {
    font-size: 6rem;
    margin-top: 0;
  }

  .costaRicaKaffee img {
    width: 40vw;
  }

  .dasStecktDrin p {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 2.5rem;
  }

  .iconsEigenschaften {
    height: 711px;
    width: 400px;
  }

  .dasStecktDrinInhalt {
    justify-content: center;
  }
}

/* || KOMM VORBEI */

.kommVorbei {
  background-color: white;
  background-attachment: scroll;
  height: 40vh;
  padding: 5% 0 5%;
}

.anfahrtResponsive {
  position: relative;
}

.kommVorbei iframe {
  left: 0;
  position: absolute;
  height: 35vh;
  width: 100vw;
}

.kommVorbei h2 {
  color: black;
  font-weight: 900;
  margin: 0 0 20px 5%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .kommVorbei iframe {
    height: 40vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .kommVorbei {
    height: 30vh;
  }

  .kommVorbei iframe {
    height: 30vh;
  }

  .kommVorbei {
    padding-bottom: 0;
  }
  .kommVorbei h2 {
    margin-bottom: 2%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .kommVorbei {
    height: 40vh;
  }

  .kommVorbei iframe {
    height: 40vh;
  }
}

 